
* {
    box-sizing: border-box;
}

body {
    font-family: 'Special Elite', cursive;
}

main {
    width: 210mm;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.instr {
    font-size: 18px;
}

.action {
    position: relative;
}

.click_here {
    position: absolute;
    bottom: 40%;
    left: 20%;
}

.your_symbol {
    position: absolute;
    top: 25%;
    right: 45%;
    color: white;
    font-size: 150px;
}

.black_square {
    display: block;
    width: 35%;
    margin: 0 auto;
    margin-top: 50px;
} 

.try_again {
    margin-top: 30px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 70px;
    background-color: black;
    color: white;
    border: none;
    font-size: 30px;
}

.squares_wrapper {
    padding: 50px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px; 
}

.square_item {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.symbol {
    padding-top: 4px;
    background-color: black;
    width: 30px;
    height: 45px;
    color: blanchedalmond;
    text-align: center;
    font-size: 25px;
}

.footer {
    min-height: 250px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}